<div class="container">
  <div [hidden]="loggedIn" >
    <mat-grid-list [cols]="6" [style.margin-top]="'20px'">
        <mat-grid-tile [colspan]="1"></mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <form (ngSubmit)="onSubmit()">
              <mat-input-container class="full-width">
                <input type="text" matInput [(ngModel)]="credentials.username" name="username" id="username" placeholder="Your username">
              </mat-input-container>
              <mat-input-container class="full-width">
                <input type="password" matInput [(ngModel)]="credentials.password" name="password" id="password" placeholder="Your password">
              </mat-input-container>
            <button type="submit" >Login</button>
          </form>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="!loggedIn" >
    You have been logged in
  </div>
</div>
